{% extends 'base.html' %}

{% block meta %}
    <title>About</title>
{% endblock meta %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bgcolor.css' %}">
<style>
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Make the container take up the entire viewport height */
        font-family: monospace, Arial, sans-serif; /* Set the font to monospace with fallbacks */
        text-align: center;
    }

    .icon {
        width: 50px; /* Adjust the width of the icon as needed */
        height: 50px; /* Adjust the height of the icon as needed */
        margin-bottom: 20px; /* Adjust the margin as needed */
    }

    .app-info {
        max-width: 600px;
        color: #00ee00; /* Set text color to green */
    }

    /* Style for the "About" text */
    .about-text {
        margin-top: 20px;
        font-size: 14px; /* Reduce the font size */
        line-height: 1.5;
        color: #00ee00; /* Set text color to green */
    }

    /* Style for the version and release date */
    .version-info {
        margin-top: 20px;
        font-weight: bold;
        font-size: 12px; /* Reduce the font size */
        color: #00ee00; /* Set text color to green */
    }

    /* Style for the developer info */
    .developer-info {
        margin-top: 20px;
        font-style: italic;
        font-size: 12px; /* Reduce the font size */
        color: #00ee00; /* Set text color to green */
    }
    
    /* Adjust the header size */
    h1 {
        font-size: 20px; /* Reduce the font size */
        margin-top: 20px; /* Add margin to space out the headers */
        color: #00ee00; /* Set text color to green */
    }
</style>

<div class="about">
    <img src="{% static 'main/vaultboyicon.png' %}" alt="Icon" class="icon">
    
    <div class="app-info">
        <p><strong>"Pip-Boy! Inventory Manager Powered by Vault-Tec!"</strong></p>
    </div>
    
    <div class="app-info">
        <p><strong>Description:</strong></p>
        <p class="about-text">
            "From the innovative minds at Vault-Tec, we proudly present the Pip-Boy Inventory Manager, a cutting-edge web-based solution designed to enhance your post-apocalyptic survival experience. Just like its wrist-mounted predecessor, the Pip-Boy Inventory Manager offers seamless access to your crucial inventory data. Seamlessly navigate your stash of equipment, manage your consumables, and keep tabs on your quest progress, all from the comfort of your preferred device's web browser. Vault-Tec's commitment to user-friendly design ensures that you can effortlessly organize your post-apocalyptic life, whether it's keeping track of your precious bottle caps or maintaining your arsenal of weaponry. Surviving the wasteland has never been this organized, thanks to the Pip-Boy Inventory Manager—a technological marvel for the modern survivor."</p>
    </div>
    
    <div class="version-info">
        <p><strong>Version:</strong></p>
        <p>"Pip-Boy 3000 Mark IV Web Version"</p>
    </div>
    
    <div class="version-info">
        <p><strong>Release Date:</strong></p>
        <p>"2287"</p>
    </div>
    
    <div class="developer-info">
        <p><strong>Developed by:</strong></p>
        <p>"Muhammad Sakhran Thayyib of PBP KKI"</p>
    </div>
</div>

{% endblock content %}
