{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bgcolor.css' %}">
<style>
    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh; /* Make the container take up the entire viewport height */
        font-family: monospace, Arial, sans-serif; /* Set the font to monospace with fallbacks */
    }

    .login form {
        text-align: center;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .icon {
        width: 50px; /* Adjust the width of the icon as needed */
        height: 50px; /* Adjust the height of the icon as needed */
        margin-bottom: 20px; /* Adjust the margin as needed */
    }

    /* Style the Login button */
    .login_btn {
        background-color: green;
        color: white;
        font-weight: bold;
        padding: 10px 20px; /* Adjust padding as needed */
        border: none;
        cursor: pointer;
    }

    /* Hover effect for the Login button */
    .login_btn:hover {
        background-color: darkgreen; /* Change the color on hover if desired */
    }

    /* Center the placeholder text in input fields */
    input::placeholder {
        text-align: center;
    }

    /* Set the background color of input fields to light green */
    input[type="text"],
    input[type="password"] {
        background-color: lightgreen;
    }

    /* Keep the background color light green when input is focused */
    input[type="text"]:focus,
    input[type="password"]:focus {
        background-color: lightgreen;
    }

    /* Style for error messages */
    .error-message {
        color: red;
        font-weight: bold;
    }
</style>

<div class="login">
    {% load static %}
    <img src="{% static 'main/vaultboyicon.png' %}" alt="Icon" class="icon">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="username" placeholder="Username" class="form-control">
        </div>

        <div class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
        </div>

        <div class="form-group">
            <button class="btn login_btn" type="submit">Login</button>
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="error-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p> <a href="{% url 'main:register' %}" style="color: green;">Create Account</a></p>
    
    <!-- Add the "About" hyperlink below the "Create Account" hyperlink -->
    <p> <a href="{% url 'main:about' %}" style="color: green;">About</a></p>
</div>

{% endblock content %}
