{% extends 'base.html' %}

{% block content %}
<h1>Pip-Boy! Inventory Manager Powered by Vault-Tec!</h1>

...
<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<h5>Description: </h5>
<p>{{ description }}</p>

<h5>Version: </h5>
<p>{{ version }} </p>

<h5>Release Date: </h5>
<p>{{ releasedate }} </p>

<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% comment %} Below is how to show the product data {% endcomment %}

    {% for product in items %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.value}}</td>
            <td>{{product.description}}</td>
            <td>{{product.releasedate}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Item
    </button>
</a>

{% endblock content %}

